@import "../variables.scss";
@import "@material/textfield/mdc-text-field";
@import "@material/select/helper-text/mdc-select-helper-text";
@import "@material/button/mdc-button";

.signer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    &__input {
        width: 80%;
        margin-top: 24px;
    }
    &__footer {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
    }
    .mdc-text-field {
        width: 100%;
    }
    .mdc-select-helper-text--persistent {
        color: $textColor_200;
    }
    .signature {
        width: 80%;
        padding: 16px;
        background-color: #f3f5f8;
        border-radius: 8px;
        font-size: 14px;
        word-break: break-all;
        margin: 36px 0px;
        padding-bottom: 8px;
        .mdc-button {
            float: right;
        }
    }
}
