$textColor_100: #ffffff;
$textColor_200: #636e72;
$textColor_300: #333648;
$brand: rgb(84, 51, 255);
@mixin breakpoint($class) {
    @if $class == xs {
        @media (max-width: 576px) {
            @content;
        }
    } @else if $class == sm {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $class == md {
        @media (max-width: 992px) {
            @content;
        }
    } @else if $class == lg {
        @media (max-width: 1200px) {
            @content;
        }
    } @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

@mixin font-normal($size) {
    font: {
        weight: 400;
        size: $size;
    }
}

@mixin font-bold($size) {
    font: {
        weight: 700;
        size: $size;
    }
}

@mixin no-focus() {
    &:focus {
        outline: none;
    }
}
